* {
  box-sizing: border-boc;
}

body {
  background-color: hsl(330, 100%, 95%);
  font-family: "Inconsolata", monospace;
}

main {
  max-width: 50ch;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  padding-top: 6rem;
}

label,
input,
button {
  font: inherit;
  color: inherit;
  display: block;
  margin: 0.5rem;
  cursor: pointer;
}

button {
  color: #fff;
  background-color: purple;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
}

nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: hsl(320, 100%, 70%);
}
nav button,
nav input {
  display: inline;
}

.article__buttons button {
  display: inline;
  font-size: 2;
  position: absolute;
}

.article__buttons .article__button--delete {
  right: 1rem;
  bottom: 4rem;
}
.article__buttons .article__button--edit {
  right: 3.5rem;
  bottom: 4rem;
}

article {
  background: linear-gradient(
    90deg,
    rgba(240, 186, 209, 1) 0%,
    rgba(255, 147, 241, 0.9584245076586433) 52%
  );
  padding: 1rem;
  margin: 1rem;
  font-family: "Special Elite", cursive;
  position: relative;
}

img {
  height: 60vw;
  max-height: 300px;
}



@keyframes spin {
  from{
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.book-image {
  transform: rotateY( 0deg );
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.book-image:hover {
  transform: rotateY( 180deg );
  transition: transform 1s;
  transform-style: preserve-3d;
}